<html>
    <head>
        <title>App Enquetes</title>
    </head>
    <body>
        <h1>Aplicação de Enquetes - DSWeb 2024.1</h1>
        {% if pergunta_list %}
          <h3>Lista das Enquetes Cadastradas:</h3>
          <ul>
            {% for p in pergunta_list %}
              <li>
                <a href="{% url 'enquetes:detalhes' p.id %}">
                  {{ p.texto }}
                </a>&nbsp;&nbsp;
                (<a href="{% url 'enquetes:resultado' p.id %}">ver PARCIAL
                </a>)
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <h3>Nenhuma enquete cadastrada até o momento!</h3>
        {% endif %}
    </body>
</html>