<html>
    <head>
        <title>App Enquetes</title>
    </head>
    <body>
        <h1>Aplicação de Enquetes - DSWeb 2024.1</h1>
        <h2>PARCIAL da Enquete #{{ pergunta.id }}</h2>
        <h2>{{ pergunta.texto }}</h2>
        <p><i>{{ pergunta.data_pub }}</i></p>
        <p>Quantidade de votos por alternativas:</p>
        <ul>
          {% for alt in pergunta.alternativa_set.all %}
            <li>
              {{ alt.texto }} == {{ alt.quant_votos }}
              voto{{ alt.quant_votos | pluralize }}
            </li>
          {% endfor %}
        </ul>
        <hr>
        <a href="{% url 'enquetes:detalhes' pergunta.id %}">Votar novamente?</a> |
        <a href="{% url 'enquetes:index' %}">Voltar</a>
    </body>
</html>
